
#content {
  text-align: center;
  font-size: larger;
  color: white;
}

body {
  background-image: url("subway.jpg");
}

.button{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

button{
    background-color: rgb(122, 213, 243);
     padding: 0.5rem 1rem 0.5rem 1rem;
     border: solid grey 1px;
     margin-top: 1.5rem;
}

button:hover{
  box-shadow:  0px 2px 40px 0px;
  background-color: aqua;
}


 #increment-btn{
   
   }